<h2>Latest posts:</h2>
<br />
<% @results.each do |posts| %>
	<p>
		<%= posts['content'] %>
		<br /><br />
		Addet at <%= posts['created_date'] %>
		<a href="/post/<%= posts['id'] %>">Comments</a>
	</p>
	<hr />
<% end %>