<h2>Add new Post</h2>
<p>
	<form action="/new" method="POST" role="form">
		<input name="username" type="text" class="form-control" style="width: 600px" placeholder="Enter username" value="<%= @username %>">
		<br />
		<textarea name="post" class="form-control" rows="6" style="width: 600px" placeholder="Type post text here"><%= @post %></textarea>
		<br />
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>