<h2>Add new Post</h2>
<p>
  <form action="/new" method="POST">
    <textarea class="form-control" rows="6"></textarea>
  	</form>
  	<br />
  	<button type="submit" class="btn btn-danger">Yarr</button>
  </form>

</p>